.about-company {
    padding-top: 100px;
    padding-bottom: 174px;
}
.container {
}
.about-company-header {

    display: flex;
    justify-content: space-between;
}
.about-company-header-image {
    object-fit: cover;
    width: 100%;
}
.about-company-header-head {
    margin-top: 105px;
    max-width: 543px;
}
.about-company-title {
    color: #151515;
    font-family: 'Literata', sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 25px;
}
.about-company-subtitle {
    color: #656565;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 143.75%;
}


@media (max-width: 1215px) {
    .about-company-img{
        width: 90%;
        margin-left: 10px;
    }
    .about-company-header-head {
        margin-top: 55px;
        max-width: 543px;
    }
    .about-company-title{
        font-size: 30px;
    }
    .about-company-subtitle{
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .about-company-header-head {
        margin-top: 25px;
        max-width: 443px;
    }
    .about-company-title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .about-company-subtitle{
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .about-company-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-company-header-image {
        width: 50%;
    }
    .about-company-title{
        font-size: 20px;
    }
    .about-company-subtitle{
        font-size: 12px;
    }
}